version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: bookingservice-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: booking_service
      POSTGRES_USER: booking_user
      POSTGRES_PASSWORD: booking_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
